*.egg-info
.mypy_cache
.ruff_cache
__pycache__
build
dist
venv
.project
.pydevproject
*.py[cod]
.pytest_cache
.coverage
htmlcov
.DS_Store
.~lock.*
*.swp

.project
.pydevproject
.idea/


tests/test_data/add_variant_summary/

/*_variant_summary.tsv
/variant_summary*.tsv
/learn_output.tsv
/IPD1111_CombinedVariantOutput.tsv
/config_testing.yaml